
<header>
  <div class="fixed-section">
    <ul>
      <li class="nav-item" >
        <a href="https://processingfoundation.org/" target="_blank" class="nav-link" style="--underline-color: #9C51FF;">
          <img src="/src/components/img/image1.png" alt="Processing" class="nav-icon">
          <div>
            <span class="text-line" style=" color: #9C51FF">Processing</span>
            <span class="text-line" style=" color: #9C51FF">Foundation</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://processing.org/" target="_blank" class="nav-link" style="--underline-color: #0468FF;">
          <img src="/src/components/img/image2.png" alt="Processing" class="nav-icon">
          <div>
            <span class="text-line" style="color: #0468FF;">Processing</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://p5js.org/" target="_blank" class="nav-link" style="--underline-color: #ED225D;">
          <img src="/src/components/img/image3.png" alt="p5.js" class="nav-icon">
          <div>
            <span class="text-line" style="color: #ED225D;">p5.js</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://android.processing.org/" target="_blank" class="nav-link" style="--underline-color: #98C829;">
          <img src="/src/components/img/image4.png" alt="Processing" class="nav-icon">
          <div>
            <span class="text-line" style="color: #98C829;">Processing</span>
            <span class="text-line" style="color: #98C829;">Android</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://py.processing.org/" target="_blank" class="nav-link" style="--underline-color: #2D9E97;">
          <img src="/src/components/img/image5.png" alt="Processing" class="nav-icon">
          <div>
            <span class="text-line" style="color:#2D9E97;">Processing</span>
            <span class="text-line" style="color: #2D9E97;">Python</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="main-section">
    <ul>
      <li class="nav-item">
        <a href="https://processing.org/" target="_blank" class="nav-link">
          <img src="/src/components/img/image6.png" alt="Processing" class="nav-icon2">
          <span class="text-line1">Processing</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link2" style="--underline-color: #0F195A;">
          <span class="text-line2">Download</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link2" style="--underline-color: #0F195A;">
          <span class="text-line2">Documentation</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link2" style="--underline-color: #0F195A;">
          <span class="text-line2">Learn</span>
        </a>
      
      </li>
      <li class="nav-item">
        <a href="" class="nav-link2" style="--underline-color: #0F195A;">
          <span class="text-line2">Teach</span>
        </a>
  
      </li>
      <li class="nav-item" >
        <a href="" class="nav-link2" style="--underline-color: #0F195A;">
          <span class="text-line2">About</span>
        </a>
  
      </li>
      <li class="nav-item" >
        <a href="" class="nav-link2" style="--underline-color: #0F195A;">
          <span class="text-line2">Donate</span>
        </a>
  
      </li>
     
    </ul>
    <div class="search-container">
      <input type="text" placeholder="Search..." class="search-input" />
      <button class="search-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </button>
    </div>
    
      
  </div>
</header>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

  header {
    width: 100%;
  }
  .fixed-section {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0rem 1rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  .fixed-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
  
  .main-section {
    background-color: #ffffff;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  
  }
  .main-section .nav-item {
    margin-right: 20px; 
  }

  .menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
  }
  .nav-item {
    display: flex;
    align-items: center;
  }

  .nav-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: white;
    position: relative;
    padding-bottom: 6px;
  }

  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--underline-color);
    transition: width 0.3s;
    transform: scaleX(0); 
    transform-origin: left; 
  }

  .nav-link:hover::after {
    transform: scaleX(1);
  }
  .nav-link2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: white;
    position: relative;
    padding-left: 7px;
  }
  .nav-link2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: var(--underline-color);
    transition: width 0.3s;
    transform: scaleX(0); 
    transform-origin: left; 
  }

  .nav-link2:hover::after {
    transform: scaleX(1);
  }
  .nav-icon {
    width: 30px;
    height: auto;
  }
  .nav-icon2 {
    width: 65px;
    height: auto;
  }
  .text-line {
    font-size: 11px;
    font-family: 'Space Grotesk', sans-serif;
    display: block;
    font-weight: bold;
  }
  .text-line1 {
    font-size: 28.8px;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.1;
    letter-spacing: -0.5px;
    color: #0F195A;
  }
  .text-line2 {
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
    display: block;
    color: #0F195A;
    font-weight: 600;
  }
  .search-container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #ccc;
  overflow: hidden; 
}

.search-input {
  flex: 1;
  border: none;
  padding: 8px 12px;
  font-weight: 330;
  height: 17px;
  outline: none;
}

.search-button {
  background-color: transparent;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #f0f0f0;
}

.feather {
  width: 15px;
  height: 15px;
}

</style>
